Having 2D labeled data structure with rows and columns like in SQL table and excel sheets is DataFrame of the Pandas.

Ways of creating DataFrame:

In [2]:
# From Dictionary of lists

import pandas as pd
data = {
    'name' : ['bishal', 'asmita'],
    'age' : [22, 21],
    'city' : ['sarlahi', 'jhapa']
}
df = pd.DataFrame(data)
print(df)

     name  age     city
0  bishal   22  sarlahi
1  asmita   21    jhapa

In [5]:
#From the list of the dictionaries

data1 = [
    {'name': 'bishal', 'age' : 22, 'city' : 'sarlahi'},
    {'name': 'asmita', 'age' : 21, 'city' : 'jhapa'}
]
df1 = pd.DataFrame(data1)
print(df1)

     name  age     city
0  bishal   22  sarlahi
1  asmita   21    jhapa

In [7]:
# From a 2D list

data2 = [['ram',25], ['shyam', 22], ['hari', 20]]

df2 = pd.DataFrame(data2, columns = ['name', 'age'])
print(df2)

    name  age
0    ram   25
1  shyam   22
2   hari   20

In [14]:
# from the dictionaries of series

data3 = {
    'asmita' : pd.Series([90, 85, 70], index = ['eng', 'math', 'nep']),
    'bishal' : pd.Series([91, 86, 71], index = ['eng', 'math', 'nep'])
}
df3 = pd.DataFrame(data3)
df3.columns.name = 'student'
print(df3)

student  asmita  bishal
eng          90      91
math         85      86
nep          70      71

In [ ]:
# From CSV and excel files

dfi = pd.read_csv('filename.csv')
dfii  = pd.read_excel('filename.xlsx')

Create a DataFrame

Then:
Print the whole DataFrame
Print only the 'Math' column
Print Ram's Science marks
Find the average marks in each subject

In [5]:
students = {
    'Math' : [85, 78, 96],
    'Science' : [92, 75, 89],
    'English' : [88, 80, 85]
}
df = pd.DataFrame(students, index = ['Ram', 'Shyam', 'Hari'])
df.columns.name = 'Student'
print(df, "\n")
print(df['Math'], "\n")
print(f"Ram's Mark in science is {df.loc['Ram', 'Science']} \n")

columns_mean = df.mean()
print(f"The average marks in each subjects are {columns_mean.round(2)} \n")
print("Average marks of each students are \n",df.mean(axis=1).round(2))

# print(df.shape)
# print(df.info())
# print(df.describe())

Student  Math  Science  English
Ram        85       92       88
Shyam      78       75       80
Hari       96       89       85

Ram      85
Shyam    78
Hari     96
Name: Math, dtype: int64

Ram's Mark in science is 92

The average marks in each subjects are Student
Math       86.33
Science    85.33
English    84.33
dtype: float64

Average marks of each students are
 Ram      88.33
Shyam    77.67
Hari     90.00
dtype: float64