Practice Challenge

Load a CSV file with missing values
Load an Excel file with multiple sheets
Load a nested JSON file and flatten it

In [ ]:
import pandas as pd

df = pd.read_csv("car-sales.csv")
print(df.head(), "\n")
print(df.tail(), "\n")
print(df.shape, "\n")
print(df.info(), "\n")
print(df.describe(), "\n")
print(df.isnull().sum())
print(df.dropna())
print(df.fillna(0))

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[773 rows x 5 columns]
       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996       0  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [42]:
excel_file = pd.ExcelFile("Financial_Sample.xlsx", engine="openpyxl")

print(excel_file.sheet_names)
df_sheet1 = pd.read_excel("Financial_Sample.xlsx", sheet_name="Sheet1")
# print(df_sheet1)
print(df_sheet1.head())
print(df_sheet1.shape)

['Sheet1']
      Segment  Country    Product Discount Band  Units Sold  \
0  Government   Canada  Carretera           NaN      1618.5
1  Government  Germany  Carretera           NaN      1321.0
2   Midmarket   France  Carretera           NaN      2178.0
3   Midmarket  Germany  Carretera           NaN       888.0
4   Midmarket   Mexico  Carretera           NaN      2470.0

   Manufacturing Price  Sale Price  Gross Sales  Discounts    Sales     COGS  \
0                    3          20      32370.0        0.0  32370.0  16185.0
1                    3          20      26420.0        0.0  26420.0  13210.0
2                    3          15      32670.0        0.0  32670.0  21780.0
3                    3          15      13320.0        0.0  13320.0   8880.0
4                    3          15      37050.0        0.0  37050.0  24700.0

    Profit       Date  Month Number Month Name  Year
0  16185.0 2014-01-01             1    January  2014
1  13210.0 2014-01-01             1    January  2014
2  10890.0 2014-06-01             6       June  2014
3   4440.0 2014-06-01             6       June  2014
4  12350.0 2014-06-01             6       June  2014
(700, 16)

In [44]:
import json
from pandas import json_normalize
with open("sample_nested.json") as file:
    data = json.load(file)

flat_df = json_normalize(data)  # Flatten nested JSON
print(flat_df.head())

                                       coffee.region  coffee.country.id  \
0  [{'id': 1, 'name': 'John Doe'}, {'id': 2, 'nam...                  2

  coffee.country.company                                     brewing.region  \
0                   ACME  [{'id': 1, 'name': 'John Doe'}, {'id': 2, 'nam...

   brewing.country.id brewing.country.company
0                   2                    ACME