Sorting by Indexes

In [7]:
# Create a DataFrame with random index
import pandas as pd
data = {'Price': [10, 50, 200], 'Item': ['Pen', 'Book', 'Bag']}
df = pd.DataFrame(data, index=['c', 'a', 'b'])

# 1. Print original DataFrame
print(f"The original Dataframe is: \n{df}\n")

# 2. Sort by index ascending
print(f"Sorting in ascending order: \n{df.sort_index(ascending=True)}\n")

# 3. Sort by index descending
print(f"Sorting in descending order: \n{df.sort_index(ascending=False)}\n")

# 4. Sort column index
print(f"Sorted by column Index: \n{df.sort_index(axis=1)}")

The original Dataframe is:
   Price  Item
c     10   Pen
a     50  Book
b    200   Bag

Sorting in ascending order:
   Price  Item
a     50  Book
b    200   Bag
c     10   Pen

Sorting in descending order:
   Price  Item
c     10   Pen
b    200   Bag
a     50  Book

Sorted by column Index:
   Item  Price
c   Pen     10
a  Book     50
b   Bag    200

In [ ]:
index = pd.to_datetime(['2023-03-10', '2021-06-15', '2022-01-01'])
data = {'Product': ['Pen', 'Book', 'Bag'], 'Price': [10, 50, 200]}
df = pd.DataFrame(data, index=index)
print(df)
# making dates the index of the DataFrame

           Product  Price
2023-03-10     Pen     10
2021-06-15    Book     50
2022-01-01     Bag    200

Slicing and Subsetting

In [12]:
import pandas as pd

data = {
    'Product': ['Book', 'Pen', 'Laptop', 'Mouse', 'Bag'],
    'Price': [50, 10, 1000, 25, 200]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

# 1. Print rows from 'b' to 'd'
print(df.loc['b':'d'], "\n")

# 2. Print only 'a' and 'e'
print(df.loc[['a', 'e']],"\n")

# 3. Print rows at position 1 to 3
print(df.iloc[1:4],"\n")

# 4. Print rows at position 0 and 4
print(df.iloc[[0, 4]])

  Product  Price
b     Pen     10
c  Laptop   1000
d   Mouse     25

  Product  Price
a    Book     50
e     Bag    200

  Product  Price
b     Pen     10
c  Laptop   1000
d   Mouse     25

  Product  Price
a    Book     50
e     Bag    200

Boolean Subsetting

In [ ]:
import pandas as pd

data = {
    'Product': ['Book', 'Pen', 'Laptop', 'Mouse', 'Bag'],
    'Price': [50, 10, 1000, 25, 200]
}
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])

# Products with price less than 100
print(df[df['Price'] < 100], "\n")

# Products that are either 'Book' or 'Bag'
print(df[(df['Product'] == 'Book') | (df['Product'] == 'Bag')], "\n")

# Products with price not equal to 10
print(df[~(df['Price'] == 10)], "\n")

# Products with price between 50 and 500
print(df[(df['Price'] > 50) & (df['Price'] < 500)], "\n")

# Products with price not equal to 200
print(df[~(df['Price'] == 200)], "\n")

# Products where name starts with 'L'
print(df[df['Product'].str.contains('L', case=False)])

# Products with price > 20 and name is not "Book"
print(df[~(df['Product'] == 'Book') & (df['Price'] > 20)])

  Product  Price
a    Book     50
b     Pen     10
d   Mouse     25

  Product  Price
a    Book     50
e     Bag    200

  Product  Price
a    Book     50
c  Laptop   1000
d   Mouse     25
e     Bag    200

  Product  Price
e     Bag    200

  Product  Price
a    Book     50
b     Pen     10
c  Laptop   1000
d   Mouse     25

  Product  Price
c  Laptop   1000

Column Access

In [39]:
# Access the 'Price' column as a Series
print(df['Price'],"\n")

# Access both 'Product' and 'Price' columns
print(df[['Product', 'Price']],"\n")

# Assign 'Price' to a variable and print only prices above 100
price_above_100 = df[df['Price'] > 100]
print(price_above_100,"\n")

# List all column names using .columns
df.columns

a      50
b      10
c    1000
d      25
e     200
Name: Price, dtype: int64

  Product  Price
a    Book     50
b     Pen     10
c  Laptop   1000
d   Mouse     25
e     Bag    200

  Product  Price
c  Laptop   1000
e     Bag    200

Index(['Product', 'Price'], dtype='object')

 PIVOT vs PIVOT TABLE in pandas

In [55]:
import pandas as pd

data = {
    'Region': ['Asia', 'Asia', 'Europe', 'Europe', 'Asia', 'Europe'],
    'Product': ['Pen', 'Book', 'Pen', 'Book', 'Book', 'Pen'],
    'Sales': [100, 200, 150, 300, 250, 130]
}
df = pd.DataFrame(data, index=['a','b','c','d','e','f'])

pivoted = df.pivot_table(
    values= 'Sales',
    index= ['Region', 'Product'],
    aggfunc='sum',
    margins=True
)
print(pivoted)

                Sales
Region Product
Asia   Book       450
       Pen        100
Europe Book       300
       Pen        280
All              1130

In [56]:
import pandas as pd

data = {
    'Order ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Region': ['Asia', 'Asia', 'Europe', 'Europe', 'Asia', 'Europe', 'Asia', 'Europe'],
    'Country': ['India', 'China', 'Germany', 'France', 'China', 'Germany', 'India', 'France'],
    'Product': ['Pen', 'Book', 'Pen', 'Book', 'Book', 'Pen', 'Notebook', 'Notebook'],
    'Category': ['Stationery', 'Stationery', 'Stationery', 'Stationery', 'Stationery', 'Stationery', 'Stationery', 'Stationery'],
    'Sales': [100, 250, 150, 300, 200, 130, 180, 210],
    'Quantity': [10, 25, 15, 30, 20, 13, 18, 21]
}

df = pd.DataFrame(data)
print(df)

   Order ID  Region  Country   Product    Category  Sales  Quantity
0       101    Asia    India       Pen  Stationery    100        10
1       102    Asia    China      Book  Stationery    250        25
2       103  Europe  Germany       Pen  Stationery    150        15
3       104  Europe   France      Book  Stationery    300        30
4       105    Asia    China      Book  Stationery    200        20
5       106  Europe  Germany       Pen  Stationery    130        13
6       107    Asia    India  Notebook  Stationery    180        18
7       108  Europe   France  Notebook  Stationery    210        21

In [63]:
# Create a simple pivot showing sales by Region and Product

# Use pivot_table() to show total sales by Region and Product
pivoted_table = df.pivot_table(
    values='Sales',
    index='Region',
    columns='Product',
    aggfunc='sum'
)
# Change aggfunc to 'mean'
pivoted_table = df.pivot_table(
    values='Sales',
    index='Region',
    columns='Product',
    aggfunc='mean'
)

# Add margins=True to show totals
pivoted_table = df.pivot_table(
    values='Sales',
    index='Region',
    columns='Product',
    aggfunc='sum',
    margins=True
)

# Try a 2-level index: index=['Region', 'Product']
pivoted_table = df.pivot_table(
    values='Sales',
    index= ['Region', 'Product'],
    aggfunc='sum',
    margins=True
)
print(pivoted_table)

                 Sales
Region Product
Asia   Book        450
       Notebook    180
       Pen         100
Europe Book        300
       Notebook    210
       Pen         280
All               1520

DataFrame Operations

In [122]:
import pandas as pd
import numpy as np

# Raw data with mixed types, missing values, and inconsistent naming
data = {
    'Order ID': [1001, 1002, 1003, 1004, 1005, 1006],
    'customer Name': ['Alice', 'Bob', 'Charlie', None, 'Eve', 'Frank'],
    'Product ': ['Pen', 'Book', 'Notebook', 'Pen', 'Book', None],
    'Qty': [5, np.nan, 3, 2, None, 1],
    'Unit_Price': ['10', '25', '15.5', '10', '25', '30'],
    'Purchase_Date': ['2025-06-01', '2025-06-03', '2025-06-05', '2025-06-06', '2025-06-07', 'not available']
}

df = pd.DataFrame(data)
print(df)

   Order ID customer Name  Product   Qty Unit_Price  Purchase_Date
0      1001         Alice       Pen  5.0         10     2025-06-01
1      1002           Bob      Book  NaN         25     2025-06-03
2      1003       Charlie  Notebook  3.0       15.5     2025-06-05
3      1004          None       Pen  2.0         10     2025-06-06
4      1005           Eve      Book  NaN         25     2025-06-07
5      1006         Frank      None  1.0         30  not available

EXERCISE 1: Renaming Columns
Make column names consistent and professional.

In [123]:
# Rename 'customer Name' to 'Customer' # Rename 'Product ' to 'Product' # Rename 'Qty' to 'Quantity'
df.rename(columns={
    'customer Name':'Customer',
    'Product ': 'product',
    'Qty' : 'quantity'
    }, inplace=True)


# Convert all column names to lowercase with underscores
df.columns = [col.lower().replace(' ','_') for col in df.columns]

print(df)

   order_id customer   product  quantity unit_price  purchase_date
0      1001    Alice       Pen       5.0         10     2025-06-01
1      1002      Bob      Book       NaN         25     2025-06-03
2      1003  Charlie  Notebook       3.0       15.5     2025-06-05
3      1004     None       Pen       2.0         10     2025-06-06
4      1005      Eve      Book       NaN         25     2025-06-07
5      1006    Frank      None       1.0         30  not available

EXERCISE 2: Handling Missing Values
Detect and clean missing data using .isnull() and .fillna()

In [124]:
# Show which rows have missing values using df.isnull().sum()
print(df.isnull().sum(), "\n")
# Fill missing 'Qty' values with the average quantity (use .mean())
df['quantity'].fillna(df['quantity'].mean(), inplace=True)

# Fill missing 'customer Name' with the string "Unknown"
df['customer'].fillna('Unknown', inplace=True)

# Drop rows where 'Product' is missing
df.dropna(subset ='product', inplace=True)

order_id         0
customer         1
product          1
quantity         2
unit_price       0
purchase_date    0
dtype: int64

C:\Users\Acer\AppData\Local\Temp\ipykernel_4036\3588963717.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['quantity'].fillna(df['quantity'].mean(), inplace=True)
C:\Users\Acer\AppData\Local\Temp\ipykernel_4036\3588963717.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer'].fillna('Unknown', inplace=True)

EXERCISE 3: Changing Data Types
Convert columns to the correct types for analysis

In [128]:
# Convert 'Unit_Price' from string to float using .astype(float)
df['unit_price'] = df['unit_price'].astype(float)

# Convert 'Purchase_Date' to datetime (handle the 'not available' row without crashing)
df['purchase_date'] = pd.to_datetime(df['purchase_date'], errors='coerce')

# Verify the new data types using .dtypes

# Create a new column 'Total_Sales' = Quantity * Unit_Price
df['Total_Sales'] = df['quantity'] * df['unit_price']

print(df.dtypes)
print(df)

order_id                  int64
customer                 object
product                  object
quantity                float64
unit_price              float64
purchase_date    datetime64[ns]
Total_Sales             float64
dtype: object
   order_id customer   product  quantity  unit_price purchase_date  \
0      1001    Alice       Pen      5.00        10.0    2025-06-01
1      1002      Bob      Book      2.75        25.0    2025-06-03
2      1003  Charlie  Notebook      3.00        15.5    2025-06-05
3      1004  Unknown       Pen      2.00        10.0    2025-06-06
4      1005      Eve      Book      2.75        25.0    2025-06-07

   Total_Sales
0        50.00
1        68.75
2        46.50
3        20.00
4        68.75

In [131]:
df[['order_id', 'customer', 'product', 'quantity', 'unit_price', 'purchase_date', 'Total_Sales']]

,order_id,customer,product,quantity,unit_price,purchase_date,Total_Sales
0,1001,Alice,Pen,5.00,10.0,2025-06-01,50.00
1,1002,Bob,Book,2.75,25.0,2025-06-03,68.75
2,1003,Charlie,Notebook,3.00,15.5,2025-06-05,46.50
3,1004,Unknown,Pen,2.00,10.0,2025-06-06,20.00
4,1005,Eve,Book,2.75,25.0,2025-06-07,68.75